<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.formatted_price %>
</p>

<p>
  <strong>Description:Golf Clubs for 2 weeks $123.00</strong>
  <!-- <%= @product.description %> -->
</p>
<br>
<img class="show_image" src="http://www.hittingthegreen.com/wp-content/uploads/2011/11/prosimmon_golf_x9_clubs1.jpg" alt="google/images">

<p>
  <strong>Owner: @mbusta305</strong>
  <!-- <%= @product.owner_id %> -->
</p>

<p>
  <strong>Renter:</strong>
  <%= @product.renter_id %>
</p>

<p>
  <strong>Category: Outdoor Sports</strong>
  <!-- <%= @product.category_id %> -->
</p>
<% if current_user.id == @product.owner_id %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<td class="btn btn-primary"><%= link_to 'Back', products_path %></td>
